<ul class="main-navigation">
  <li><a href="{{ root_url }}/">All posts</a></li>
  <li><a href="{{ root_url }}/blog/categories/ruby-studio/">News</a></li>
  <li><a href="{{ root_url }}/blog/categories/tips/">Tips</a></li>
  <li><a href="{{ root_url }}/blog/categories/discoveries/">Discoveries</a></li>
  <li><a href="{{ root_url }}/blog/categories/quotes/">Quotes</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="http://rubystudio.net">Rubystudio.net</a></li>
</ul>

